.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 50px;
}

.tweets-container {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
}