.user-page-container {
    padding: 50px;
}

textarea {
    width: calc(100% - 30px);
    margin-bottom: 10px;
    resize: vertical;
}

.user-time {
    font-style: italic;
    color: gray;
}

.user-description {
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.user-description .edit-button {
    width: 130px;
    margin-top: 0px;
}
