#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
}

.save-button,
.cancel-button,
.edit-button,
.delete-button {
    padding: 7px 12px;
    margin-right: 8px;
    margin-top: 14px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    color: rgb(15, 15, 15);
    font-size: small;
    transition: 0.4s ease;
}

.save-button {
    background-color: #dcf2d3;
}

.save-button:hover {
    background-color: #2b8109;
    color: white;
}

.cancel-button {
    background-color: #cbc6c6;
}

.cancel-button:hover {
    background-color: #565555;
    color: white;
}

.edit-button {
    background-color: #bfe3f2;
}

.edit-button:hover {
    background-color: #0577a8;
    color: white;
}

.delete-button {
    background-color: #f1c7c4;
}

.delete-button:hover {
    background-color: #be1d12;
    color: white;
}
